<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Autogestiones | trámites ambientales</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Historial de Autogestiones </li>
                    </ol>
                </div>
            </div>
        </div>
        <!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">



                    <div class="card">
                        <div class="card-header">

                        </div>


                        <h3 class="card-title">Historial de Autogestiones | Control y seguimiento | Trámites Ambientales</h3>
                        <div class="col-lg-6" style="margin-left:80%">
                            <a href="../tramitesambientales/registronuevo.html" class="btn btn-primary">Nueva Autodeclaración</a>
                        </div>

                        <!-- /.card-header -->
                        <div class="card-body">
                            <table id="example1" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>Fecha Envío</th>
                                        <th>N Expediente</th>
                                        <th>Trámite</th>

                                        <th>Responsable</th>
                                        <th>Estado</th>
                                        <th>Radicado</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>08-10-2020</td>
                                        <td>AS5-2020-456</td>
                                        <td>Conseción de Aguas</td>
                                        <td>foto.png</td>
                                        <td>observacion prueba</td>
                                        <td>( HIPERVINCULO RETORNADO PDF)invoca procedimiento en SIRENA</td>

                                    </tr>
                                    <tr>
                                        <td>08-10-2020</td>
                                        <td>AS5-2020-456</td>
                                        <td>Conseción de Aguas</td>
                                        <td>foto.png</td>
                                        <td>observacion prueba</td>
                                        <td>Activo</td>
                                    </tr>
                                    <tr>
                                        <td>08-10-2020</td>
                                        <td>AS5-2020-456</td>
                                        <td>Conseción de Aguas</td>
                                        <td>foto.png</td>
                                        <td>observacion prueba</td>
                                        <td>Activo</td>
                                    </tr>
                                    <tr>
                                        <td>08-10-2020</td>
                                        <td>AS5-2020-456</td>
                                        <td>Conseción de Aguas</td>
                                        <td>foto.png</td>
                                        <td>observacion prueba</td>
                                        <td>Activo</td>
                                    </tr>
                                    <tr>
                                        <td>08-10-2020</td>
                                        <td>AS5-2020-456</td>
                                        <td>Conseción de Aguas</td>
                                        <td>foto.png</td>
                                        <td>observacion prueba</td>
                                        <td>Activo</td>
                                    </tr>
                                    <tr>
                                        <td>08-10-2020</td>
                                        <td>AS5-2020-456</td>
                                        <td>Conseción de Aguas</td>
                                        <td>foto.png</td>
                                        <td>observacion prueba</td>
                                        <td>Activo</td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>